html {
  background: black;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 10;
  color: rgb(255, 238, 0);
  color: aqua;
}

canvas {
  animation: in 2s cubic-bezier(0.23, 1, 0.32, 1) 0.25s backwards;
  background: transparent;
  position: absolute;
}

/* @keyframes in {
  0% {
    top: 0px;
    background-color: blue;
  }
  100% {
    top: 200px;
    background-color: brown;
  }
} */
